In [ ]:
#import packages 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

In [9]:
#load data
data_grad = pd.read_csv("data/high school graduation rates.csv")
data_teacher = pd.read_csv("data/avgclsrmsal.csv")

In [10]:
data_teacher.head

<bound method NDFrame.head of                      AVERAGE CLASSROOM TEACHER SALARY      Unnamed: 1  \
0                              1989-90 THROUGH 2024-25            NaN
1                                                  NaN            NaN
2                                              Dist No  District name
3                                                  001         ADAIR
4                                                  005         ALLEN
..                                                 ...            ...
190  Annual Salary with expenditures object codes 0...            NaN
191  State Average by District Salary: Each fiscal ...            NaN
192                                                               NaN
193                                                               NaN
194                                                               NaN

    Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0          NaN        NaN        NaN        NaN        NaN        NaN
1          NaN        NaN        NaN        NaN        NaN        NaN
2      1989-90    1990-91    1991-92    1992-93    1993-94    1994-95
3     $25,779    $27,714    $30,002    $30,069    $29,819    $30,971
4     $25,480    $27,825    $29,139    $29,645    $30,635    $31,410
..         ...        ...        ...        ...        ...        ...
190        NaN        NaN        NaN        NaN        NaN        NaN
191        NaN        NaN        NaN        NaN        NaN        NaN
192        NaN        NaN        NaN        NaN        NaN        NaN
193        NaN        NaN        NaN        NaN        NaN        NaN
194        NaN        NaN        NaN        NaN        NaN        NaN

    Unnamed: 8 Unnamed: 9  ... Unnamed: 28 Unnamed: 29 Unnamed: 30  \
0          NaN        NaN  ...         NaN         NaN         NaN
1          NaN        NaN  ...         NaN         NaN         NaN
2      1995-96    1996-97  ...     2015-16     2016-17     2017-18
3     $31,371    $32,233   ...    $47,999     $47,775      $50,925
4     $31,770    $32,364   ...    $50,109     $49,742      $49,817
..         ...        ...  ...         ...         ...         ...
190        NaN        NaN  ...         NaN         NaN         NaN
191        NaN        NaN  ...         NaN         NaN         NaN
192        NaN        NaN  ...         NaN         NaN         NaN
193        NaN        NaN  ...         NaN         NaN         NaN
194        NaN        NaN  ...         NaN         NaN         NaN

    Unnamed: 31 Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35 Unnamed: 36  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2       2018-19     2019-20     2020-21     2021-22     2022-23     2023-24
3       $51,127     $50,685     $51,120     $50,610     $53,609     $53,316
4       $49,990     $50,617     $52,210     $52,639     $52,625     $53,942
..          ...         ...         ...         ...         ...         ...
190         NaN         NaN         NaN         NaN         NaN         NaN
191         NaN         NaN         NaN         NaN         NaN         NaN
192         NaN         NaN         NaN         NaN         NaN         NaN
193         NaN         NaN         NaN         NaN         NaN         NaN
194         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 37
0           NaN
1           NaN
2       2024-25
3       $54,377
4       $56,471
..          ...
190         NaN
191         NaN
192         NaN
193         NaN
194         NaN

[195 rows x 38 columns]>

In [8]:
data_grad.head

<bound method NDFrame.head of          LocationType      Location  TimeFrame DataFormat   Data
0               State      Kentucky       2003     Number  36379
1               State      Kentucky       2004     Number  36551
2               State      Kentucky       2005     Number  36982
3               State      Kentucky       2006     Number  37083
4               State      Kentucky       2007     Number  38364
...               ...           ...        ...        ...    ...
2473  School District  Woodford Co.       2006    Percent   0.93
2474  School District  Woodford Co.       2007    Percent   0.91
2475  School District  Woodford Co.       2008    Percent   0.92
2476  School District  Woodford Co.       2009     Number    295
2477  School District  Woodford Co.       2009    Percent   0.92

[2478 rows x 5 columns]>

1.Project Objective
Ojective - Analyze if a higher percentage discount affects the customer rating of a product 

Data Source - https://www.kaggle.com/datasets/yamrajmusic/blinkit-products-dataset